body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flexbox;
    background-color: black;
    color: blanchedalmond;
}
.container1{
    display: flex;
    flex-direction: row;
    
}
header{
    width: 100%;
    background-color: black;
    position: fixed;
    align-self: flex-start;
    
}
.navbar-items{
    display: flex;
    flex-direction: row;
    column-gap: 25%;
    
}
.nav-link{
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
}

a:hover{
    
    color: red;
}
.container2{
    width: 95%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}
#submit:hover{
    background-color: blue;
    color: white;
}
form{
    display: flex;
   align-items: center;
}
.container3{
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
    text-align: center;  
}

h2{
    text-align: center;
}

.container4{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    text-align: center; 
    font-size: 20px;
}
.container5{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    text-align: center; 
    font-size: 20px;
}

@media (max-width: 600px){
    .container2{
        display: flex;
       flex-direction: column;
    }
}






