body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container1{
    display: flex;
    flex-direction: row;
}
header{
    width: 100%;
    background-color: rgb(222, 229, 155);
    
}
.navbar-items{
    display: flex;
    flex-direction: row;
    column-gap: 25%;
    
}
#nav-bar{
   position: relative;
}
.nav-link{
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;

    
}

a:hover{
    font-size: 50px;
    color: red;
}
.container2{
    width: 49%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.container3{
    display: flex;
    flex-direction: column;
    
}

