body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container1{
    display: flex;
    flex-direction: row;
}
header{
    width: 100%;
    background-color: rgb(12, 12, 12);
    
}
.navbar-items{
    display: flex;
    flex-direction: row;
    column-gap: 25%;
    
}
#nav-bar{
   position: relative;
}
.nav-link{
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;
}

a:hover{
    
    color: red;
}
.container2{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
#submit:hover{
    background-color: blue;
    color: white;
}
form{
    display: flex;
   
   align-items: center;
}





